RewriteEngine On
RewriteBase /Gestion_clinica/
RewriteRule ^tailwind$ /Gestion_clinica/app/js/tailwind-config.js [L]
RewriteRule ^contacto$ /Gestion_clinica/app/views/contacto.php [L]

#Paginas de autenticación
RewriteRule ^login$ /Gestion_clinica/app/views/login.php [L]
RewriteRule ^registro$ /Gestion_clinica/app/views/registros/registro-usuario.php [L]
RewriteRule ^registro_sig$ /Gestion_clinica/app/views/registros/registro-usuario__sig.php [L]
RewriteRule ^exito$ /Gestion_clinica/app/views//registros/registro_exitoso.php [L]

#Paginas de paciente
RewriteRule ^home_paciente$ /Gestion_clinica/app/views/Paciente/index_paciente.php [L]
RewriteRule ^agendar_cita$ /Gestion_clinica/app/views/Paciente/agendar_cita.php [L]
RewriteRule ^citas_paciente$ /Gestion_clinica/app/views/Paciente/citas.php [L]
RewriteRule ^citas_paciente_js$ /Gestion_clinica/app/views/Js/Paciente/citas.js [L]
RewriteRule ^historial_paciente$ /Gestion_clinica/app/views/Paciente/historial_clinico.php [L]
RewriteRule ^contacto_paciente$ /Gestion_clinica/app/views/Paciente/contacto.php [L]

#Reestrablcer contraseña
RewriteRule ^reset-password$ /Gestion_clinica/app/views/registros/reset_password.php [L]
RewriteRule ^restablecer_contrasena$ /Gestion_clinica/app/views/registros/correo_restablecimiento.php [L]

#Paginas de medico
RewriteRule ^cita_medica$ /Gestion_clinica/app/views/Doctor/cita_medica_doc.php [L]
RewriteRule ^historial_medico$ /Gestion_clinica/app/views/Doctor/historial_clinico.php [L]
RewriteRule ^inicio_js$ /Gestion_clinica/app/views/Js/Doctor/inicio.js [L]
RewriteRule ^detalles_cita_js$ /Gestion_clinica/app/views/Js/Doctor/detalles_cita.js [L]
RewriteRule ^historial_js$ /Gestion_clinica/app/views/Js/Doctor/historial.js [L]
RewriteRule ^home_medico$ /Gestion_clinica/app/views/Doctor/medico_inicio.php [L]

#Paginas de recepcionista
RewriteRule ^home_recepcionista$ /Gestion_clinica/app/views/Recepcionista/index_recepcionista.php [L]
RewriteRule ^menu_cobro$ /Gestion_clinica/app/views/Recepcionista/menu_cobro.php [L]
RewriteRule ^factura$ /Gestion_clinica/app/views/Recepcionista/menu_factura.php [L]
RewriteRule ^reservar_cita$ /Gestion_clinica/app/views/Recepcionista/agendar_cita.php [L]

#Paginas de farmacéutico
RewriteRule ^home_farmacia$ /Gestion_clinica/app/views/Farmaceutico/farmacia_inicio.php [L]
RewriteRule ^recetas$ /Gestion_clinica/app/views/Farmaceutico/consultar_recetas.php [L]
RewriteRule ^gestionar_medicamentos$ /Gestion_clinica/app/views/Farmaceutico/gestionar_medicamentos.php [L]

#Paginas de admin
RewriteRule ^home_admin$ /Gestion_clinica/app/views/Admin/dashboard.php [L]
RewriteRule ^gestion_usuarios$ /Gestion_clinica/app/views/Admin/admin_soli.php [L]
RewriteRule ^gestion_servicios$ /Gestion_clinica/app/views/Admin/gestion_servicios.php [L]

