RewriteEngine On
RewriteBase /Gestion_clinica/
RewriteRule ^tailwind$ /Gestion_clinica/app/js/tailwind-config.js [L]

#Paginas de autenticación
RewriteRule ^login$ /Gestion_clinica/app/views/login.php [L]
RewriteRule ^registro$ /Gestion_clinica/app/views/registros/registro-usuario.php [L]
RewriteRule ^registro_sig$ /Gestion_clinica/app/views/registros/registro-usuario__sig.php [L]

#Paginas de paciente
RewriteRule ^home_paciente$ /Gestion_clinica/app/views/Paciente/index_paciente.php [L]
RewriteRule ^agendar_cita$ /Gestion_clinica/app/views/Paciente/agendar_cita.php [L]
RewriteRule ^citas_paciente$ /Gestion_clinica/app/views/Paciente/citas.php [L]
RewriteRule ^citas_paciente_js$ /Gestion_clinica/app/views/Js/Paciente/citas.js [L]
RewriteRule ^historial_paciente$ /Gestion_clinica/app/views/Paciente/historial_clinico.php [L]

#Reestrablcer contraseña
RewriteRule ^reset-password$ /Gestion_clinica/app/views/registros/reset_password.php [L]
RewriteRule ^restablecer_contrasena$ /Gestion_clinica/app/views/registros/correo_restablecimiento.php [L]

#Paginas de medico
RewriteRule ^cita_medica$ /Gestion_clinica/app/views/Doctor/cita_medica_doc.php [L]
RewriteRule ^historial_medico$ /Gestion_clinica/app/views/Doctor/historial_clinico.php [L]
RewriteRule ^detalles_cita_js$ /Gestion_clinica/app/views/Js/Doctor/detalles_cita.js [L]
RewriteRule ^home_medico$ /Gestion_clinica/app/views/Doctor/medico_inicio.php [L]